/* Mobile & tablet */
@media (max-width: 1023px) {
    
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile*/
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    /* Header */
    .list-icon-mobile {
        display: inline-block;
    }

    .logo {
        display: inline-block;
        width: 10px;
    }

    .header-nav {
        background-color: var(--whitle-color);
    }

    .header-nav-mobile {
        display: flex;
    }

    .header-nav__list {
        position: fixed;
        top: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        padding-top: 20px;
        min-width: 260px;
        background-color: var(--primay-color);
    }
    
    .header-nav__list > li > a {
        padding: 20px 16px;
        border: 1px solid rgba(0, 0, 0, 0.07);
    }
}