<header class="header">
    <div class="header-top">
        <div class="list-icon-mobile"><i class="bi bi-list"></i></div>
        <a href="" class="logo"></a>
        <div class="header-top__search hide-on-mobile">
            <input type="text" placeholder="Tìm kiếm...">
            <i class="bi bi-search"></i>
        </div>
        <div class="header-top__hotline hide-on-mobile">
            <p>Hotline hỗ trợ từ khách hàng</p>
            <div class="header-top__hotline-telephoneNumber">
                <i class="bi bi-telephone-fill"></i>
                <p>0903784871</p>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <ul class="header-nav__list">
            <input type="text" placeholder="Tìm kiếm...">
            <li><a href="">Trang chủ</a></li>
            <li><a href="">Giới thiệu</a></li>
            <li class="sub-nav">
                <a href="#">Sản phẩm</a>
                <!-- List product -->
                <ul class="sub-nav__list">
                    <li>
                        <p>HDPE, LDPE</p>
                        <i class="bi bi-caret-right-fill"></i>
                    </li>
                    <li>
                        <p>OPP</p>
                        <i class="bi bi-caret-right-fill"></i>
                    </li>
                    <li>
                        <p>PP</p>
                        <i class="bi bi-caret-right-fill"></i>
                    </li>
                    <li>
                        <p>Túi in</p>
                        <i class="bi bi-caret-right-fill"></i>
                    </li>
                </ul>
            </li>
            <li><a href="">Liên hệ</a></li>
            <li><a href="">Tin tức</a></li>
            <li><a href="">Tin tức</a></li>
            <li><a href="">Tin tức</a></li>
            <li><a href="">Tin tức</a></li>
            <li><a href="">Tin tức</a></li>
            <li><a href="">Tin tức</a></li>
            <li><a href="">Tin tức</a></li>
            <li><a href="">Tin tức</a></li>
        </ul>
        <!-- <div class="overlay"></div> -->
    </div>
</header>